<div>
  <div class="container">
    <h1 class="navPoint-l">Fazit</h1>
    <div class="row" style="margin-bottom: 50px; margin-top: 50px">
      <div class="col-sm-4">
        <div class="card border-info">
          <div class="card-body">
            <h5 class="card-title">Generell</h5>
            <li>Transparentere Auskunft zu den Lebensmitteln</li>
            <li>Biolebensmittel sind von der größten Kundengruppe gefragt</li>
            <li>
              Eine sofortige Umstellung auf Biolebensmittel ist zu riskant
            </li>
            <li>
              Die befragten Kunden sind nur geringfügig bereit einen Aufschlag
              zu zahlen für Bio Produkte
            </li>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card border-info">
          <div class="card-body">
            <h5 class="card-title">Empfehlung</h5>
            <li>
              Zuerst die "wichtigen" Lebensmittel in Bio anbieten (Rohkost und
              Fleisch)
            </li>
            <li>
              Mit der Umstellung auf der Robinson Homepage und Katalog werben
            </li>
            <li>Wirtschaftlichkeit prüfen und Feedback der Kunden einholen</li>
            <li>Preisgrenze für Bioprodukte ermitteln</li>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card border-info">
          <div class="card-body">
            <h5 class="card-title">Langfristige Empfehlung</h5>
            <ul>
              <li>Kooperation mit einem der bekannten Bio Siegeln</li>
              <ul>
                <li>Steigert vertrauen der Kunden</li>
                <li>Gut für Werbezwecke</li>
                <li>Hilft bei der Finanzierung</li>
              </ul>
              <li>Alleinstellungsmerkmal (Wettbewerbsvorteil)</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
