<div>
  <div class="container">
    <h1 class="navPoint-l">Fazit</h1>
    <p>
      Aufgrund der gesammelten Ergebnisse sollte der Robinson durchaus in
      betracht ziehen auf Bio Lebensmittel umzusteigen. Da eine sofortige
      100%ige Umstellung zu aufwendig und zu riskant ist empfiehlt sich die
      Umstellung erst in den Lebensmittelkategorien Rohkost und Fleisch zu
      vollziehen. Zudem könnte man überlegen vorerst Hauptsächlich Kindermenüs
      umzustellen, da viele Kunden dort am meisten Wert drauf legen.
    </p>
    <p>
      Durch nachfolgende Befragungen kann geprüft werden, ob das Bioangebot die
      Zufriedenheit der Kunden steigert. Generell muss geprüft werden, ob dies
      wirtschaftlich tragbar ist, da viele Kunden nur geringfügig bereit sind
      einen Aufschlag zu zahlen. Aus diesem Grund wäre eine Kooperation mit
      einen der bekannten Bio Siegeln zu empfehlen.
    </p>
    <p>
      Zudem wäre eine Kooperation mit einen der bekannten Bio Siegeln sinnvoll,
      da viele Kunden den Siegeln vertrauen. Zudem ist der hohe
      Wiedererkennungswert vorteilhaft bei der Werbung. Der Langfristige Umstieg
      auf Bio wäre für den Robinson Club ein Alleinstellungsmerkmal.
    </p>
  </div>
</div>
