<div id="{{'Einführung'}}">
    <div class="container">
        <h1 class="navPoint-l">Einführung</h1>
        <img src="../../../assets/tb_robinson-1200x335.jpg" style="margin-top: 50px;">
        <h3 class="text-center" style="margin-top:50px; margin-bottom:50px">
          Einführung von Bionahrung in den Robinson‐Urlaubs‐Clubs – Eine strategische Option?
        </h3>
        <h5 class="text-center" style="margin-bottom: 20px">Gruppe 6</h5>
        <h5 class="text-center" style="margin-bottom: 50px">Till Hoffmann | Vitus Forsmann | Benedikt Reploh | Timo Reimer | Tim Sawatzki</h5>
        <h2 class="navPoint-sm">Zielsetzung</h2>
        <h3 class="text-center" style="margin-top: 50px; margin-bottom: 20px">Lösung der Fragestellung</h3>
        <p>
          Einführung von Bionahrung in den Robinson‐Urlaubs‐Clubs – Eine strategische Option?
        </p>
        <p class="text-center" style="font-size: 50px">
          <i class="fa fa-arrow-down"></i>
        </p>
        <p style="margin-bottom: 50px">
          Erhebung von Daten erfolgte durch Befragung von Robinson-Urlauber mittels Fragebogen
        </p>
        <h3>Struktur</h3>
        <div class="row" style="margin-bottom: 100px">
          <div class="col-sm-4">
            <div class="card">
              <div class="card-body">
              <h5 class="card-title">Aufbau</h5>
                <li>Einleitung</li>
                <li>Eisbrecherfragen</li>
                <li>Sachenfragen</li>
                <li>Statistische Fragen</li>
            </div>
          </div>
          </div>
          <div class="col-sm-4">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Inhalt</h5>
                <li>Fragen zur Person</li>
                <li>Robinson</li>
                <li>Kriterien der Ernährung</li>
                <li>Urlaubsverhalten</li>
                <li>Fragen zu Bionahrung</li>
              </div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Fragetypen</h5>
                <li>Offene Fragen</li>
                <li>Geschlossene Fragen</li>
                <li>Selektive Fragen</li>
              </div>
            </div>
          </div>
        </div>
    </div>
</div>
