<div id="{{'Data Understanding'}}">
  <div class="container">
    <h1 class="navPoint-l">Data Understanding</h1>
  <div class="container">
    <p class="navPoint-sm"><b> Die ersten Erkenntnisse</b></p>
    <!-- <app-graph [height]="'400px'" [width]="'70%'" [data]="'skalierungdiagramm.html'"></app-graph>
    <div class="myContainer">
    <app-graph [height]="'500px'" [width]="'33%'" [data]="'geschlecht.html'"></app-graph>
    <app-graph [height]="'500px'" [width]="'66%'" [data] ="'tortendiagramme.html'"></app-graph>
    </div>
    <app-graph [height]="'500px'" [width]="'100%'" [data]="'balkendiagramm.html'"></app-graph>
  </div> -->
    <app-graph [height]="'500px'" [width]="'50%'" [data]="'skalierungdiagramm.html'"></app-graph>
    <app-graph [height]="'500px'" [width]="'50%'" [data]="'geschlecht.html'"></app-graph>
     </div>
    <app-graph [height]="'500px'" [width]="'100%'" [data] ="'tortendiagramme.html'"></app-graph>
        <p scrollTo="DataUnderstanding">Der typische Urlauber im Robinson Club ist 53 Jahre alt (Stand 2019) und hat ein überdurchschnittlich hohes Nettoeinkommen. Er reist in Begleitung mit Kind und Familie.</p>
    <app-graph [height]="'500px'" [width]="'100%'" [data]="'balkendiagramm.html'"></app-graph>
  </div>
</div>
