<!-- side navigation -->
<div class="sidenav">
  <a routerLink="/" fragment="introduction"><i class="fa fa-arrow-circle-right"></i>Einführung</a>
  <a routerLink="/" fragment="data_understanding"><i class="fa fa-arrow-circle-right"></i>Data Understanding</a>
  <a routerLink="/" fragment="back_up"><i class="fa fa-arrow-circle-right"></i>Back-Up</a>
</div>

<!-- content components-->
<div class="main">
  <app-introduction></app-introduction>
  <app-data-understanding></app-data-understanding>
</div>
